
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">账号</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="number" pattern="[0-9]*" placeholder="请输入账号" v-model="account">
        </div>
    </div>
     <div class="weui-cell">
        <div class="weui-cell__hd">
            <label class="weui-label">邮箱</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text"  placeholder="请输入邮箱" v-model="mail">
        </div>
    </div>
    <div class="weui-cell weui-cell_vcode">
        <div class="weui-cell__hd">
            <label class="weui-label">重置密码</label>
        </div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password" placeholder="请输入密码" v-model="password">
        </div>
        <div class="weui-cell__ft" v-touch:tap="onSubmitTap">
            <button class="weui-vcode-btn">确认提交</button>
        </div>
    </div>
</div>
