.ui-myInfo__list {
    font-size: .35rem;
    margin-top: .6rem;
    margin-bottom: 1rem;
    // padding-left: .66rem;
    &>div {
        margin: .3rem 4% 2px 4%;
        border-bottom: 1px solid #ccc;
        position: relative;
        height: .6rem;
        line-height: .6rem;
        &>div {
            display: inline-block;
            position: absolute;
            right: 0;
            width: .9rem;
            height: .52rem;
            height: .6rem;
            line-height: .6rem;
        }
    }
}

.ui-rightBtn {
    display: inline-block;
    position: relative;
    right: -50%;
    background-image: url(../../image/home/right.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: .32rem;
    height: .32rem;
    // border: 1px solid red;
}
