@charset 'utf-8';
@import "../_config";
html {
    padding: 0;
    margin: 0;
}
.weui-uploader__bd{
	// margin: 1% auto   !important;
	font-size: 0;
}
.weui-uploader__input-box{
	// margin-left: 3px !important;
	float: left !important;
	width: 30% !important;
	height: 100px  !important;
	background-size: cover !important;
}